.root {
    min-width: 320px;
    max-width: 460px;
    padding: 10px;
    display: grid;

    grid-template-areas:
        "current"
        "hourly"
        "daily"
    ;
}

.current,
.hourly,
.daily {
    min-width: 0
}

.current {
    grid-area: current;
    margin: 50px 0 40px;
}

.hourly {
    grid-area: hourly;
}

.daily {
    grid-area: daily;
    margin: 10px 0 0;
}


@media only screen and (min-width: 1025px) {
    .root {
        max-width: 840px;
        grid-template-areas:
        "current hourly"
        "current daily"
    ;
    }

    .current {
        grid-area: current;
        margin: 0 70px 0 0;
        max-width: 200px;
    }
    
} 