.daily {
    margin: 10px 0 0;
    border-radius: 15px;
    background-color: rgb(255 255 255 / 3%);
    border: 1px solid rgb(255 255 255 / 3%);
    padding: 15px;
}
  
.forecast {
    display: grid;
    grid-template-columns: auto auto 1fr;
    font-size: 2rem;
}

.datetimeContainer,
.conditionsContainer,
.dailyRangeContainer {
    padding: 6px;
    height: 55px;
    align-self: center;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(255 255 255 / 25%);
    box-sizing: border-box;
}

.datetimeContainer:nth-last-child(-n+3),
.conditionsContainer:nth-last-child(-n+3),
.dailyRangeContainer:nth-last-child(-n+3) {
    border-bottom: none;
    padding-bottom: 0;
}

.datetimeContainer {
    padding-left: 0;
}

.dailyRangeContainer {
    padding-right: 0;
}
  
.dailyTitle {
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    padding-bottom: 8px;
    font-weight: 400;
    border-bottom: 1px solid rgb(255 255 255 / 25%);
}
  
.dailyConditions {
    text-align: center;
    line-height: 1;
}
  
.probability {
    display: block;
    font-size: 12px;
    line-height: 0.8;
    color: #81cffa;
}
  